.news-bulletins-details {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.container {
    background: #fff;
    border: 1px solid #dddddd;
    padding: 1rem;
    font-size: 1.2rem;
}

.time-owner {
    padding: 0 3rem;
    display: flex;
    justify-content: space-around;
    color: #999999;
}

.title {
    text-align: center;
    height: 4rem;
    line-height: 4rem;
}

.content {
    padding: 0 3rem;
    line-height: 3;
}
