<!--新闻公告页面-->
<div class="news-bulletins">
  <div class="tabs">
    <div class="news" [class.active]="!tabIdx" (click)="tabsClick(0)">新闻</div>
    <div class="bulletins" [class.active]="tabIdx" (click)="tabsClick(1)">公告</div>
    <div class="icon" [routerLink]="['/release']">
      <Icon [type]="'check'"></Icon>
    </div>
  </div>
  <WhiteSpace style="background: #eee"></WhiteSpace>
  <div class="container"
       (touchstart)="touchstart($event)"
       (touchend)="touchend($event)">
    <div class="news-details" [@inOut]="!tabIdx ? 'in' : 'out'">
      <PullToRefresh [ngStyle]="news.pullState.height"
                     [direction]="news.pullState.direction"
                     [(ngModel)]="news.pullState.refreshState"
                     (onRefresh)="pullToRefresh()">
        <app-news-box *ngFor="let news of news.list"
                      [news]="news"
                      (handleDelete)="delete($event)"
                      (handleImgBoxTap)="ImgBoxTap($event)"></app-news-box>
        <div [hidden]="news.hasMore" class="no-more">没有更多的消息了...</div>
      </PullToRefresh>
    </div>
    <div class="bulletins-details" [@outIn]="tabIdx ? 'in' : 'out'">
      <PullToRefresh [ngStyle]="bulletins.pullState.height"
                     [direction]="bulletins.pullState.direction"
                     [(ngModel)]="bulletins.pullState.refreshState"
                     (onRefresh)="pullToRefresh()">
        <app-news-box *ngFor="let news of bulletins.list"
                      [news]="news"
                      (handleDelete)="delete($event)"
                      (handleImgBoxTap)="ImgBoxTap($event)"></app-news-box>
        <div [hidden]="bulletins.hasMore" class="no-more">没有更多的消息了...</div>
      </PullToRefresh>
    </div>
  </div>
</div>


