<!--新闻公告页面-->
<div class="news-bulletins">
  <div class="tabs">
    <div class="news" [class.active]="!tabIdx" (click)="tabsClick(0)">新闻</div>
    <div class="bulletins" [class.active]="tabIdx" (click)="tabsClick(1)">公告</div>
    <div class="icon" [routerLink]="['/release']">
      <Icon [type]="'check'"></Icon>
    </div>
  </div>
  <WhiteSpace style="background: #eee"></WhiteSpace>
  <div class="container"
       (touchstart)="touchstart($event)"
       (touchend)="touchend($event)">
    <div class="news-details" [@inOut]="!tabIdx ? 'in' : 'out'">
      <PullToRefresh [ngStyle]="state.height"
                     [direction]="state.direction"
                     [(ngModel)]="state.refreshState"
                     (onRefresh)="pullToRefresh()">
        <app-news-box *ngFor="let news of newsArray"
                      [news]="news"
                      (handleDelete)="delete($event)"
                      (handleImgBoxTap)="ImgBoxTap($event)"></app-news-box>
      </PullToRefresh>
    </div>
    <div class="bulletins-details" [@outIn]="tabIdx ? 'in' : 'out'">
      <PullToRefresh [ngStyle]="state.height"
                     [direction]="state.direction"
                     [(ngModel)]="state.refreshState"
                     (onRefresh)="pullToRefresh()">
        <app-news-box *ngFor="let news of newsArray"
                      [news]="news"
                      (handleDelete)="delete($event)"
                      (handleImgBoxTap)="ImgBoxTap($event)"></app-news-box>
      </PullToRefresh>
    </div>
  </div>
</div>


